body,html{
  font-family: $font-family-1;
  font-size: #{$font-size}px;
  height: 100%;
}
h1, h2, h3, h4{
  margin: 0;
  font-weight: normal;
}
ul{
  margin: 0;
  list-style: none;
  padding: 0;
}
button{
  outline: none;
  text-shadow: none;
}
a{
  text-decoration: none;
  &:hover,
  &:focus{
    text-decoration: none;
  }
}
.btn{
  display: inline-block;
  width: auto;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: rem(13);
  line-height: 13px;
  background: $primary-color;
  text-decoration: none;
  transition: 420ms ease;
  border: 0;
  outline: none !important;
  box-shadow: none;
  &:hover{
    background: darken($primary-color, 5%);
    color: white;
  }
  &:focus{
    background: darken($primary-color, 10%);
    color: white;
  }
  &.red{
    background: #cc764c;
    &:hover{
      background: darken(#cc764c, 5%);
      color: white;
    }
    &:focus{
      background: darken(#cc764c, 10%);
      color: white;
    }
  }
  &.large{
    padding: 18px 30px;
  }
  &.small{
    padding: 12px 35px;
  }
  &.lower{
    text-transform: none;
  }
  &.radius{
    border-radius: 50px;
  }
}
.btn-reset{
  padding: 12px 20px;
  border: 0;
  background: transparent;
  font-size: rem(13);
  color: #d62f0e;
  outline: none;
  box-shadow: none;

  &:after{
    content: "";
    width: 0;
    display: block;
    height: 1px;
    background: #d62f0e;
    transition: 200ms ease;
  }
  &:hover{
    &:after{
      width: 100%;
    }
  }
}

@include media('large'){
  .container-fluid{
    padding: 0 25px;
  }
}
