/// BASE
$font-size: 14;

/// COLORS
$primary-color: #7dab4b;
$second-color: #202020;
$tertiary-color: #aaaaaa;

/// FONT FAMILY
$font-family-1: 'Roboto', sans-serif;

/// HEIGHTS
$header-height: 90px;
$banner-height: 455px;
$map-height: 450px;
