<section class="news-3">
	<div class="container">
		<div class="title-4">
	<h2>Título</h2>
</div>

			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="main-block">
						<figure>
							<a href="#" title="Lorem Ipsum">
								<img src="//placehold.it/555x360" class="img-responsive" alt="Lorem Ipsum" />
							</a>
						</figure>
						<div class="main-context">
							<a href="#" title="Lorem Ipsum">
								<span class="time">12 de fevereiro de 2016</span>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
							</a>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-6">
					<div class="flex-snippet">

							<div class="block-snippet">
								<div class="single-news snip-news-3">
	<figure>
		<a href="#" title="Lorem ipsum">
			<img src="//placehold.it/500x306" class="img-responsive" alt="Lorem ipsum">
		</a>
	</figure>
	<div class="info">
		<time datetime="2016-02-12">12 de fevereiro de 2016</time>
		<p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do tempor incididu ut labore et dolore magna aliqua.</p>
		<a href="" class="btn-fill-large-radius">Lorem Ipsum</a>
	</div>
</div>

							</div>

							<div class="block-snippet">
								<div class="single-news snip-news-3">
	<figure>
		<a href="#" title="Lorem ipsum">
			<img src="//placehold.it/500x306" class="img-responsive" alt="Lorem ipsum">
		</a>
	</figure>
	<div class="info">
		<time datetime="2016-02-12">12 de fevereiro de 2016</time>
		<p>Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do tempor incididu ut labore et dolore magna aliqua.</p>
		<a href="" class="btn-fill-large-radius">Lorem Ipsum</a>
	</div>
</div>

							</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
