<header class="header-1">
  <div class="top">
    <div class="container">
      <div class="flex-cont">
        <ul class="topbar hidden-sm hidden-xs">
          <li>
            <a href="#">Institucional</a>
          </li>
          <li>
            <a href="#">Trabalhe Conosco</a>
          </li>
          <li>
            <a href="#">SAC</a>
          </li>
        </ul>
        <ul class="redes">
          <li>
            <a href="#" target="_blank" class="facebook" title="Curta no Facebook">
              <span class="fa fa-facebook"></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="twitter" title="Siga no Twitter">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="instagram" title="Siga no Instagram">
              <span class="fa fa-instagram"></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="youtube" title="Inscreva-se no Youtube">
              <span class="fa fa-youtube-play"></span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank" class="linkedin" title="Conecte-se no LinkedIn">
              <span class="fa fa-linkedin"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="logo">
            <a href="#" title="Logo">
              <img src="assets/images/logo.png" alt="Logo" class="img-responsive">
            </a>
          </div>
          <div class="toggle-menu to-top hidden-lg hidden-md">
            <div class="cont">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
          <nav class="main-menu">
            <ul class="topbar hidden-lg hidden-md">
              <li>
                <a href="#">Institucional</a>
              </li>
              <li>
                <a href="#">Trabalhe Conosco</a>
              </li>
              <li>
                <a href="#">SAC</a>
              </li>
            </ul>
            <ul>
              <li class="has-submenu-cars">
                <a href="#">Novos <i class="fa fa-chevron-down"></i></a>

                <div class="submenu-cars">
                  <div class="container">
                    <div class="white-block list-cars tabs-panel">
                        <ul class="tabs">
  <li data-tab="1" class="active">Ford</li>
  <li data-tab="2">Mitsubishi</li>
</ul>
<div class="cont active" data-tab="1">
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" title="Novo 208">
          <figure>
                  <img src="../assets/images/carro-01.png" alt="Novo 208">
          </figure>
          <h2>Novo 208</h2>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" title="Novo 208">
          <figure>
                  <img src="../assets/images/carro-01.png" alt="Novo 208">
          </figure>
          <h2>Novo 208</h2>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" title="Novo 208">
          <figure>
                  <img src="../assets/images/carro-01.png" alt="Novo 208">
          </figure>
          <h2>Novo 208</h2>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" title="Novo 208">
          <figure>
                  <img src="../assets/images/carro-01.png" alt="Novo 208">
          </figure>
          <h2>Novo 208</h2>
        </a>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" title="Novo 208">
          <figure>
                  <img src="../assets/images/carro-01.png" alt="Novo 208">
          </figure>
          <h2>Novo 208</h2>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" title="Novo 208">
          <figure>
                  <img src="../assets/images/carro-01.png" alt="Novo 208">
          </figure>
          <h2>Novo 208</h2>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" title="Novo 208">
          <figure>
                  <img src="../assets/images/carro-01.png" alt="Novo 208">
          </figure>
          <h2>Novo 208</h2>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="#" title="Novo 208">
          <figure>
                  <img src="../assets/images/carro-01.png" alt="Novo 208">
          </figure>
          <h2>Novo 208</h2>
        </a>
      </div>
  </div>
</div>
<div class="cont" data-tab="2">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a href="#" title="Lorem Ipsum">
        <figure>
                <img src="../assets/images/carro-01.png" alt="Lorem Ipsum">
        </figure>
        <h2>Lorem Ipsum 2</h2>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a href="#" title="Lorem Ipsum 2">
        <figure>
                <img src="../assets/images/carro-01.png" alt="Lorem Ipsum 2">
        </figure>
        <h2>Lorem Ipsum 2</h2>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a href="#" title="Lorem Ipsum 2">
        <figure>
                <img src="../assets/images/carro-01.png" alt="Lorem Ipsum 2">
        </figure>
        <h2>Lorem Ipsum 2</h2>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a href="#" title="Lorem Ipsum 2">
        <figure>
                <img src="../assets/images/carro-01.png" alt="Lorem Ipsum 2">
        </figure>
        <h2>Lorem Ipsum 2</h2>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a href="#" title="Lorem Ipsum 2">
        <figure>
                <img src="../assets/images/carro-01.png" alt="Lorem Ipsum 2">
        </figure>
        <h2>Lorem Ipsum 2</h2>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a href="#" title="Lorem Ipsum 2">
        <figure>
                <img src="../assets/images/carro-01.png" alt="Lorem Ipsum 2">
        </figure>
        <h2>Lorem Ipsum 2</h2>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a href="#" title="Lorem Ipsum 2">
        <figure>
                <img src="../assets/images/carro-01.png" alt="Lorem Ipsum 2">
        </figure>
        <h2>Lorem Ipsum 2</h2>
      </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <a href="#" title="Lorem Ipsum 2">
        <figure>
                <img src="../assets/images/carro-01.png" alt="Lorem Ipsum 2">
        </figure>
        <h2>Lorem Ipsum 2</h2>
      </a>
    </div>
  </div>
</div>

                    </div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#">Seminovos</a>
              </li>
              <li class="has-submenu">
                <a href="#">Vendas Especiais <i class="fa fa-chevron-down"></i></a>

                <div class="submenu">
                  <ul>
                    <li>
                      <a href="#">Subitem 1</a>
                    </li>
                    <li>
                      <a href="#">Subitem 2</a>
                    </li>
                    <li>
                      <a href="#">Subitem 3</a>
                    </li>
                    <li>
                      <a href="#">Subitem 4</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="has-submenu">
                <a href="#">Agende <i class="fa fa-chevron-down"></i></a>

                <div class="submenu">
                  <ul>
                    <li>
                      <a href="#">Subitem 1</a>
                    </li>
                    <li>
                      <a href="#">Subitem 2</a>
                    </li>
                    <li>
                      <a href="#">Subitem 3</a>
                    </li>
                    <li>
                      <a href="#">Subitem 4</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#">Lojas</a>
              </li>
              <li>
                <a href="#">Seguros</a>
              </li>
              <li>
                <a href="#">Contato</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- <div class="bg-side hidden-sm hidden-xs"></div> -->
  </div>
</header>
