<section class="news-2">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="title-1">
	<h2>Título</h2>
</div>
			</div>
			<div class="no-padding">

					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="single-news snip-news-2">
	<figure>
		<a href="#" title="Lorem ipsum">
			<img src="//placehold.it/360x240" class="img-responsive" alt="Lorem ipsum">
		</a>
	</figure>
	<div class="info">
		<h3>Lorem ipsum dolor sit amet, cons elit</h3>
		<p>Lorem ipsum dolor sit amet, cons elit, sed do eiusmod tmepor.</p>
		<time datetime="2016-01-08">08/01/2016</time>
		<a href="" class="btn-fill-large-radius">Lorem Ipsum</a>
	</div>
</div>

					</div>

					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="single-news snip-news-2">
	<figure>
		<a href="#" title="Lorem ipsum">
			<img src="//placehold.it/360x240" class="img-responsive" alt="Lorem ipsum">
		</a>
	</figure>
	<div class="info">
		<h3>Lorem ipsum dolor sit amet, cons elit</h3>
		<p>Lorem ipsum dolor sit amet, cons elit, sed do eiusmod tmepor.</p>
		<time datetime="2016-01-08">08/01/2016</time>
		<a href="" class="btn-fill-large-radius">Lorem Ipsum</a>
	</div>
</div>

					</div>

					<div class="col-xs-12  col-md-4">
						<div class="single-news snip-news-2">
	<figure>
		<a href="#" title="Lorem ipsum">
			<img src="//placehold.it/360x240" class="img-responsive" alt="Lorem ipsum">
		</a>
	</figure>
	<div class="info">
		<h3>Lorem ipsum dolor sit amet, cons elit</h3>
		<p>Lorem ipsum dolor sit amet, cons elit, sed do eiusmod tmepor.</p>
		<time datetime="2016-01-08">08/01/2016</time>
		<a href="" class="btn-fill-large-radius">Lorem Ipsum</a>
	</div>
</div>

					</div>

			</div>
		</div>
	</div>
</section>
