<section class="banner-1">
  <div class="banner-content">
    <div class="banner-carousel">

        <div class="item">
          <a href="" title="Lorem ipsum">
            <img src="//placehold.it/1920x476" alt="Lorem ipsum" />
          </a>


            <div class="item-context">
              <div class="container">
                <div class="cont bottom-left">
                  <h3>Lorem ipsum</h3>
                  <h4>Lorem ipsum dolor sit amet</h4>
                  <a href="" class="btn-fill-little-radius action">Saiba Mais</a>
                </div>
              </div>
            </div>

        </div>

        <div class="item">
          <a href="teste" title="Peugeot 207">
            <img src="//placehold.it/1920x476" alt="Peugeot 207" />
          </a>


            <div class="item-context">
              <div class="container">
                <div class="cont top-left">
                  <h3>Peugeot 207</h3>
                  <h4>Lorem Ipsum Dolor sit</h4>
                  <a href="teste" class="btn-fill-little-radius action">Saiba Mais</a>
                </div>
              </div>
            </div>

        </div>

        <div class="item">
          <a href="teste" title="Lorem ipsum">
            <img src="//placehold.it/1920x476" alt="Lorem ipsum" />
          </a>


            <div class="item-context">
              <div class="container">
                <div class="cont top-right">
                  <h3>Lorem ipsum</h3>
                  <h4>Lorem ipsum dolor sit amet</h4>
                  <a href="teste" class="btn-fill-little-radius action">Saiba Mais</a>
                </div>
              </div>
            </div>

        </div>

        <div class="item">
          <a href="" title="Lorem ipsum">
            <img src="//placehold.it/1920x476" alt="Lorem ipsum" />
          </a>


            <div class="item-context">
              <div class="container">
                <div class="cont bottom-right">
                  <h3>Lorem ipsum</h3>
                  <h4>Lorem ipsum dolor sit amet</h4>
                  <a href="" class="btn-fill-little-radius action">Saiba Mais</a>
                </div>
              </div>
            </div>

        </div>

    </div>

    <div class="banner-context">
      <div class="container">
        <div class="cont">
          <div class="form-3 form-tabs">
  <div class="form-header tabs">
    <ul>
      <li data-tab="1" class="active">
      	<h3>Solicitar cotação</h3>
      </li>
      <li data-tab="2">
      	<h3>Simular financiamento</h3>
      </li>
    </ul>
  </div>
  <div class="form-content conts">
    <div class="row">
      <div class="col-xs-12">
        <form action="#" data-tab="1" class="active">
          <div class="form-group">
            <input name="nome" type="text" placeholder="Nome:" class="form-control">
          </div>
          <div class="form-group">
            <input name="email" type="email" placeholder="E-mail:" class="form-control">
          </div>
          <div class="form-group">
            <input name="telefone" type="tel" placeholder="Telefone:" class="form-control">
          </div>
          <div class="form-group icon-container">
           	<i class="fa fa-chevron-down"></i>
            <select name="modelo" id="" class="form-control">
              <option value="" selected disabled>Modelo Desejado:</option>
              <option value="1">Opção 1</option>
              <option value="2">Opção 2</option>
            </select>
          </div>
          <div class="form-group">
            <textarea name="mensagem" placeholder="Mensagem:" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn-fill-little-radius">Solicitar</button>
          </div>
        </form>

        <form action="#" data-tab="2">
          <div class="form-group">
            <input name="nome" type="text" placeholder="Nome:" class="form-control">
          </div>
          <div class="form-group">
            <input name="nome" type="text" placeholder="Nome:" class="form-control">
          </div>
          <div class="form-group">
            <input name="nome" type="text" placeholder="Nome:" class="form-control">
          </div>
          <div class="form-group">
            <input name="nome" type="text" placeholder="Nome:" class="form-control">
          </div>
          <div class="form-group">
            <textarea name="mensagem" placeholder="Mensagem:" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn-fill-little-radius">Solicitar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</section>
