<footer class="footer-5">
	<nav class="top-nav">
		<div class="container">
			<ul>
				<li>
					<a href="">Novos</a>
				</li>
				<li>
					<a href="">Seminovos</a>
				</li>
				<li>
					<a href="">Caminhões</a>
				</li>
				<li>
					<a href="">Acessórios</a>
				</li>
				<li>
					<a href="">Serviços</a>
				</li>
				<li>
					<a href="">Lorem Ipsum</a>
				</li>
				<li>
					<a href="">Lorem Ipsum</a>
				</li>
				<li>
					<a href="">Lorem Ipsum</a>
				</li>
				<li>
					<a href="">Lorem Ipsum</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="cont">
		<div class="container">
			<div class="flex-cont">
				<figure class="hidden-lg hidden-md">
					<img src="../../assets/images/endereco-3-1.png">
				</figure>

				<div class="white-box">
					<div class="white">
						<span class="ccenter">Contact Center</span>
						<p>600 123 1234</p>
					</div>
					<div class="green">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="site-info">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-3">
					<div class="logo">
						<img src="assets/images/logo.png">
					</div>
				</div>
				<div class="col-xs-12 col-md-9">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm.</p>
					<b>Desenvolvido por <a href="http://reweb.com.br">Reweb</a>.</b>
				</div>
			</div>
		</div>
	</div>
</footer>
