body, html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  height: 100%; }

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

button {
  outline: none;
  text-shadow: none; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

.btn {
  display: inline-block;
  width: auto;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.92857rem;
  line-height: 13px;
  background: #7dab4b;
  text-decoration: none;
  transition: 420ms ease;
  border: 0;
  outline: none !important;
  box-shadow: none; }
  .btn:hover {
    background: #709943;
    color: white; }
  .btn:focus {
    background: #63883b;
    color: white; }
  .btn.red {
    background: #cc764c; }
    .btn.red:hover {
      background: #c66738;
      color: white; }
    .btn.red:focus {
      background: #b25d33;
      color: white; }
  .btn.large {
    padding: 18px 30px; }
  .btn.small {
    padding: 12px 35px; }
  .btn.lower {
    text-transform: none; }
  .btn.radius {
    border-radius: 50px; }

.btn-reset {
  padding: 12px 20px;
  border: 0;
  background: transparent;
  font-size: 0.92857rem;
  color: #d62f0e;
  outline: none;
  box-shadow: none; }
  .btn-reset:after {
    content: "";
    width: 0;
    display: block;
    height: 1px;
    background: #d62f0e;
    transition: 200ms ease; }
  .btn-reset:hover:after {
    width: 100%; }

@media (min-width: 992px) {
  .container-fluid {
    padding: 0 25px; } }

.header-home {
  padding-top: 45px;
  width: 100%; }
  .header-home .flex-head {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-home .home-menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .header-home .home-menu ul li {
      margin-left: 37px; }
      .header-home .home-menu ul li a {
        font-weight: bold;
        color: white;
        font-size: 1.14286rem;
        text-decoration: none; }
        .header-home .home-menu ul li a:after {
          content: "";
          display: block;
          width: 0px;
          height: 1px;
          background: white;
          transition: 200ms ease; }
        .header-home .home-menu ul li a:hover:after {
          width: 100%; }
  @media (max-width: 991px) {
    .header-home {
      padding-top: 30px; } }

.footer {
  background: #202020;
  padding: 15px 0;
  width: 100%; }
  .footer .flex-foot {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer .flex-foot .logo img {
      max-height: 35px; }
    .footer .flex-foot .reweb {
      color: white;
      font-size: 0.85714rem; }
      .footer .flex-foot .reweb:hover {
        color: #7dab4b; }

.footer-step-4 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 21; }
  .footer-step-4 .top {
    height: 120px;
    width: 100%;
    display: flex;
    transition: 420ms ease;
    align-items: center;
    position: relative;
    z-index: 20;
    background: rgba(32, 32, 32, 0.95); }
    .footer-step-4 .top .multiselect-native-select {
      height: 44px;
      display: block;
      float: left;
      width: 100%;
      background: #363636; }
      .footer-step-4 .top .multiselect-native-select .btn-group {
        display: block;
        width: 100%;
        height: 100%; }
      .footer-step-4 .top .multiselect-native-select .multiselect {
        display: block;
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 0.78571rem;
        font-weight: normal;
        color: #d3d3d3;
        text-align: left;
        text-transform: none;
        border: 1px solid #494949;
        padding: 0 20px;
        background-image: url("../images/chevron-down.png");
        background-repeat: no-repeat;
        background-position: 90% center; }
        .footer-step-4 .top .multiselect-native-select .multiselect:hover {
          background-color: #333333; }
        .footer-step-4 .top .multiselect-native-select .multiselect:focus {
          background-color: #313131; }
        .footer-step-4 .top .multiselect-native-select .multiselect .multiselect-selected-text {
          font-weight: 900; }
        .footer-step-4 .top .multiselect-native-select .multiselect .caret {
          display: none; }
      .footer-step-4 .top .multiselect-native-select .dropdown-menu {
        top: initial;
        bottom: 100%;
        box-shadow: none;
        width: 100%;
        border: 0;
        border-radius: 0;
        background: #363636;
        overflow: auto;
        z-index: 17;
        position: absolute; }
        .footer-step-4 .top .multiselect-native-select .dropdown-menu li input {
          display: none; }
        .footer-step-4 .top .multiselect-native-select .dropdown-menu li a {
          outline: none;
          box-shadow: none; }
          .footer-step-4 .top .multiselect-native-select .dropdown-menu li a label {
            padding: 6px 20px;
            color: #d3d3d3; }
          .footer-step-4 .top .multiselect-native-select .dropdown-menu li a:hover {
            background: #363636; }
        .footer-step-4 .top .multiselect-native-select .dropdown-menu li.active a {
          background: #7dab4b; }
    .footer-step-4 .top .left {
      width: 21%;
      padding: 15px 15px 15px 25px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer-step-4 .top .left .selec {
        font-size: 0.92857rem;
        font-weight: bold;
        color: #d3d3d3;
        margin-bottom: 6px; }
    .footer-step-4 .top .right {
      width: 79%;
      padding-left: 30px;
      align-items: center;
      position: relative;
      height: 70px; }
      .footer-step-4 .top .right .scrollbox {
        position: relative;
        width: 100%;
        bottom: -10px;
        padding-right: 15px; }
        @media (max-width: 991px) {
          .footer-step-4 .top .right .scrollbox {
            height: 40px;
            bottom: -5px; } }
      .footer-step-4 .top .right .ps-scrollbar-x-rail {
        background: transparent !important; }
      .footer-step-4 .top .right .list-blocos {
        position: relative;
        height: 70px; }
        .footer-step-4 .top .right .list-blocos li {
          height: 70px;
          margin-right: 30px;
          padding: 0px;
          background: none !important;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative; }
          .footer-step-4 .top .right .list-blocos li img {
            display: block;
            max-width: 100%;
            max-height: 100%; }
          .footer-step-4 .top .right .list-blocos li .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background: #202020;
            color: white;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            opacity: 0.8; }
            .footer-step-4 .top .right .list-blocos li .arrow:hover {
              background: #070707; }
            .footer-step-4 .top .right .list-blocos li .arrow.arrow-up {
              left: 15px; }
            .footer-step-4 .top .right .list-blocos li .arrow.arrow-down {
              right: 15px; }
  .footer-step-4 .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #494949;
    position: relative;
    z-index: 21;
    background: rgba(32, 32, 32, 0.95); }
    .footer-step-4 .bottom .left-bot {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .footer-step-4 .bottom .left-bot:before, .footer-step-4 .bottom .left-bot:after {
        content: "";
        display: table;
        clear: both; }
      .footer-step-4 .bottom .left-bot .multiselect-native-select {
        height: 100%;
        display: block;
        float: left;
        width: 40%;
        background: #363636; }
        .footer-step-4 .bottom .left-bot .multiselect-native-select .btn-group {
          display: block;
          width: 100%;
          height: 100%; }
        .footer-step-4 .bottom .left-bot .multiselect-native-select .multiselect {
          display: block;
          border-radius: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          font-size: 0.78571rem;
          font-weight: normal;
          color: #d3d3d3;
          text-align: left;
          text-transform: none;
          border: 1px solid #494949;
          border-top: 0;
          padding: 0 20px;
          background-image: url("../images/chevron-down.png");
          background-repeat: no-repeat;
          background-position: 90% center; }
          .footer-step-4 .bottom .left-bot .multiselect-native-select .multiselect:hover {
            background-color: #333333; }
          .footer-step-4 .bottom .left-bot .multiselect-native-select .multiselect:focus {
            background-color: #313131; }
          .footer-step-4 .bottom .left-bot .multiselect-native-select .multiselect .multiselect-selected-text {
            font-weight: 900; }
          .footer-step-4 .bottom .left-bot .multiselect-native-select .multiselect .caret {
            display: none; }
        .footer-step-4 .bottom .left-bot .multiselect-native-select .dropdown-menu {
          top: initial;
          bottom: 100%;
          box-shadow: none;
          width: 100%;
          border: 0;
          border-radius: 0;
          background: #363636;
          overflow: auto; }
          .footer-step-4 .bottom .left-bot .multiselect-native-select .dropdown-menu li input {
            display: none; }
          .footer-step-4 .bottom .left-bot .multiselect-native-select .dropdown-menu li a {
            outline: none;
            box-shadow: none; }
            .footer-step-4 .bottom .left-bot .multiselect-native-select .dropdown-menu li a label {
              padding: 6px 20px;
              color: #d3d3d3; }
            .footer-step-4 .bottom .left-bot .multiselect-native-select .dropdown-menu li a:hover {
              background: #363636; }
          .footer-step-4 .bottom .left-bot .multiselect-native-select .dropdown-menu li.active a {
            background: #7dab4b; }
      .footer-step-4 .bottom .left-bot .total {
        margin-left: 45px;
        font-size: 0.78571rem;
        color: #d3d3d3; }
    .footer-step-4 .bottom .right-bot {
      display: flex;
      height: 100%;
      border-left: 1px solid #494949; }
      .footer-step-4 .bottom .right-bot .btn-4 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 45px;
        border-right: 1px solid #494949;
        font-size: 0.78571rem;
        font-weight: 900;
        text-transform: uppercase;
        background: #363636;
        color: #d3d3d3; }
        .footer-step-4 .bottom .right-bot .btn-4:hover {
          background: #333333; }
        .footer-step-4 .bottom .right-bot .btn-4:focus {
          background: #313131; }
        .footer-step-4 .bottom .right-bot .btn-4.toggle-4 {
          padding: 0 25px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .footer-step-4 .top .left {
      width: 30%; }
    .footer-step-4 .top .right {
      width: 70%; }
    .footer-step-4 .bottom .left-bot .multiselect-native-select {
      width: 50%; } }
  @media (min-width: 992px) {
    .footer-step-4 .bottom {
      height: 43px; } }
  @media (max-width: 991px) {
    .footer-step-4 .top {
      display: block;
      height: 183px; }
      .footer-step-4 .top .left {
        width: 100%;
        padding: 15px; }
        .footer-step-4 .top .left .selec {
          text-align: center; }
      .footer-step-4 .top .right {
        width: 100%;
        padding: 0 15px 15px 15px;
        height: auto; }
        .footer-step-4 .top .right .scrollbox {
          padding-right: 0; }
    .footer-step-4 .bottom {
      display: block;
      border-top: 0; }
      .footer-step-4 .bottom .left-bot {
        display: block;
        width: 100%;
        height: auto;
        padding: 15px; }
        .footer-step-4 .bottom .left-bot .multiselect-native-select {
          width: 100%; }
          .footer-step-4 .bottom .left-bot .multiselect-native-select .multiselect {
            height: 44px; }
        .footer-step-4 .bottom .left-bot .total {
          display: none; }
      .footer-step-4 .bottom .right-bot {
        width: 100%;
        height: 44px; }
        .footer-step-4 .bottom .right-bot .btn-4 {
          padding: 0 30px;
          width: 100%; } }

.no-footer .footer-step-4 .top {
  position: relative;
  height: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 200px);
  -ms-transform: translate(0, 200px);
  transform: translate(0, 200px); }

.no-footer .footer-step-4 .toggle-4 img {
  transform: rotate(180deg); }

.header-steps {
  background: #202020;
  width: 100%;
  padding: 14px 0; }
  .header-steps .flex-head {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header-steps .logo img {
    max-height: 47px; }
  .header-steps .steps-list {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header-steps .steps-list li {
      display: flex;
      align-items: center;
      justify-content: center; }
      .header-steps .steps-list li:not(:last-child):after {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background: white; }
      .header-steps .steps-list li .fa {
        display: none;
        color: #7dab4b;
        margin-right: 7px; }
      .header-steps .steps-list li a, .header-steps .steps-list li span {
        display: block;
        height: 36px;
        border-radius: 36px;
        background: transparent;
        width: 150px;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 0.92857rem;
        font-weight: bold; }
      .header-steps .steps-list li span {
        cursor: default; }
      .header-steps .steps-list li.active .fa {
        display: block; }
      .header-steps .steps-list li.active a, .header-steps .steps-list li.active span {
        border: 2px solid #7dab4b;
        color: #7dab4b; }
      .header-steps .steps-list li.active a:hover {
        background: #7dab4b;
        color: #202020; }
        .header-steps .steps-list li.active a:hover .fa {
          color: #202020; }
      .header-steps .steps-list li.active:after {
        background: #7dab4b; }
      .header-steps .steps-list li.active.current .fa {
        display: none; }
      .header-steps .steps-list li.active.current:after {
        background: white; }
  .header-steps .menu-steps {
    position: relative; }
    .header-steps .menu-steps .toggle-menu-system {
      background: transparent;
      border: 0;
      position: relative;
      right: 13px; }
      .header-steps .menu-steps .toggle-menu-system .fa {
        color: white;
        font-size: 1.57143rem; }
    .header-steps .menu-steps ul {
      display: block;
      position: absolute;
      top: 40px;
      right: 0;
      background: white;
      box-shadow: 0px 28px 49px 0px rgba(12, 12, 12, 0.18);
      padding: 10px 0;
      border-radius: 4px;
      transition: 420ms ease;
      -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
      transform: translate(0, -10px);
      opacity: 0;
      visibility: hidden;
      z-index: 15; }
      .header-steps .menu-steps ul:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 13px solid white;
        position: absolute;
        right: 15px;
        top: -8px; }
      .header-steps .menu-steps ul li {
        width: 100%;
        white-space: nowrap;
        text-align: right; }
        .header-steps .menu-steps ul li a {
          font-size: 1rem;
          display: block;
          width: 100%;
          padding: 8px 25px;
          min-width: 145px;
          color: #202020;
          font-weight: bold; }
          .header-steps .menu-steps ul li a:hover {
            background: #f1f1f1; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .header-steps .steps-list li a, .header-steps .steps-list li span {
      width: 130px; } }
  @media (max-width: 991px) {
    .header-steps .flex-head {
      display: block; }
    .header-steps .steps-list {
      margin-top: 15px; }
      .header-steps .steps-list li a, .header-steps .steps-list li span {
        width: 36px; }
      .header-steps .steps-list li:not(:last-child):after {
        width: 25px; }
    .header-steps .menu-steps {
      position: absolute;
      top: 26px;
      right: 5px; } }

.menu-on-system[class*="step"] .header-steps .menu-steps ul {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1; }

.home {
  background-image: url("../images/home-bg.jpg");
  background-attachment: fixed;
  height: 100%; }
  .home .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    background-image: url("../images/home-img.png");
    background-repeat: no-repeat;
    background-position: 95% 100px;
    background-size: 55%; }
  .home .content {
    width: 100%;
    margin: 25px 0; }
    .home .content h1 {
      font-size: 4.28571rem;
      font-weight: bold;
      color: white; }
    .home .content h2 {
      font-size: 1.28571rem;
      color: white;
      margin: 20px 0; }
    .home .content .btn {
      margin-top: 10px; }
  .home .toggle-menu-system {
    display: none; }
  @media (max-width: 991px) {
    .home .home-wrapper {
      background-image: none; }
    .home .content {
      text-align: center; }
      .home .content h1 {
        font-size: 2.28571rem; } }
  @media (max-width: 550px) {
    .home .home-menu {
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      right: 30px; }
      .home .home-menu ul {
        flex-direction: column;
        align-items: flex-end;
        visibility: hidden;
        overflow: hidden; }
        .home .home-menu ul li {
          transform: translateX(100px);
          opacity: 0;
          transition: 420ms ease; }
          .home .home-menu ul li:not(:last-child) {
            margin-bottom: 4px; }
          .home .home-menu ul li a {
            font-size: 0.85714rem;
            font-weight: normal;
            background: black;
            padding: 4px 10px;
            display: block; }
            .home .home-menu ul li a:after {
              display: none; }
            .home .home-menu ul li a:hover, .home .home-menu ul li a:focus {
              background: #262626; }
    .home .flex-head {
      position: relative; }
    .home .toggle-menu-system {
      display: block;
      background: transparent;
      border: 0;
      width: 25px;
      height: 20px;
      padding: 0; }
      .home .toggle-menu-system .bars {
        position: relative;
        width: 100%;
        height: 100%; }
        .home .toggle-menu-system .bars span {
          display: block;
          width: 25px;
          height: 2px;
          background: white;
          position: absolute;
          transition: all 0.3s; }
          .home .toggle-menu-system .bars span:nth-child(1) {
            top: 0; }
          .home .toggle-menu-system .bars span:nth-child(2) {
            top: 9px; }
          .home .toggle-menu-system .bars span:nth-child(3) {
            top: 18px; }
    .home.menu-on-system .toggle-menu-system span:nth-child(1) {
      top: 9px;
      transform: rotate(135deg); }
    .home.menu-on-system .toggle-menu-system span:nth-child(3) {
      top: 9px;
      transform: rotate(-135deg); }
    .home.menu-on-system .toggle-menu-system span:nth-child(2) {
      opacity: 0; }
    .home.menu-on-system .home-menu ul {
      overflow: visible;
      visibility: visible; }
      .home.menu-on-system .home-menu ul li {
        transform: translateX(0);
        opacity: 1; } }

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%; }
  .steps .content {
    background-color: #f1f1f1;
    width: 100%;
    padding: 30px 0;
    flex-grow: 2; }
    .steps .content .head {
      margin-bottom: 25px; }
      .steps .content .head h1 {
        font-size: 1.28571rem;
        font-weight: bold;
        color: #2b2b2b;
        margin-bottom: 10px; }
      .steps .content .head h2 {
        font-size: 1.07143rem;
        font-weight: normal;
        color: #2b2b2b; }
  .steps .form-box {
    width: 100%;
    padding: 30px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1); }
    .steps .form-box .form-group {
      margin-bottom: 18px;
      position: relative; }
      .steps .form-box .form-group .fa {
        position: absolute;
        bottom: 6px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: 20px; }
    .steps .form-box textarea,
    .steps .form-box input[type="text"],
    .steps .form-box select {
      height: 38px;
      border-radius: 38px;
      background: #e9e9e9;
      border: 1px solid #dedede;
      color: #2b2b2b;
      font-size: 0.92857rem;
      font-weight: normal;
      width: 100%;
      padding: 0 20px;
      outline: none;
      box-shadow: none;
      -webkit-appearance: none; }
      .steps .form-box textarea::-webkit-input-placeholder,
      .steps .form-box input[type="text"]::-webkit-input-placeholder,
      .steps .form-box select::-webkit-input-placeholder {
        color: #2b2b2b;
        font-size: 0.92857rem;
        font-weight: normal; }
      .steps .form-box textarea:-moz-placeholder,
      .steps .form-box input[type="text"]:-moz-placeholder,
      .steps .form-box select:-moz-placeholder {
        color: #2b2b2b;
        font-size: 0.92857rem;
        font-weight: normal; }
      .steps .form-box textarea::-moz-placeholder,
      .steps .form-box input[type="text"]::-moz-placeholder,
      .steps .form-box select::-moz-placeholder {
        color: #2b2b2b;
        font-size: 0.92857rem;
        font-weight: normal; }
      .steps .form-box textarea:-ms-input-placeholder,
      .steps .form-box input[type="text"]:-ms-input-placeholder,
      .steps .form-box select:-ms-input-placeholder {
        color: #2b2b2b;
        font-size: 0.92857rem;
        font-weight: normal; }
    .steps .form-box textarea {
      height: 80px;
      border-radius: 10px; }
    .steps .form-box label,
    .steps .form-box .help {
      font-size: 0.92857rem;
      font-weight: bold;
      color: #2b2b2b;
      display: block;
      margin-left: 20px;
      text-transform: uppercase; }
      .steps .form-box label small,
      .steps .form-box .help small {
        text-transform: none;
        color: #777;
        font-size: 0.78571rem;
        font-weight: normal; }
    .steps .form-box .checks {
      padding: 20px 0; }
      .steps .form-box .checks:before, .steps .form-box .checks:after {
        content: "";
        display: table;
        clear: both; }
      .steps .form-box .checks label {
        text-transform: none;
        font-size: 0.92857rem;
        color: #2b2b2b;
        font-weight: normal;
        margin-bottom: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        float: left;
        clear: both;
        width: auto; }
        .steps .form-box .checks label .icon-check {
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 3px;
          background: #dedede;
          margin-right: 10px;
          padding: 3px; }
      .steps .form-box .checks input[type="checkbox"] {
        display: none; }
        .steps .form-box .checks input[type="checkbox"]:checked + label .icon-check:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: #7dab4b;
          border-radius: 1px; }
      .steps .form-box .checks .form-group {
        margin-bottom: 7px; }
    .steps .form-box .buttons {
      clear: both; }
  @media (max-width: 991px) {
    .steps .content .form-box {
      padding: 20px; }
      .steps .content .form-box .form label small {
        display: block; } }

.step-1 .content {
  background-image: url("../images/step-1.png");
  background-repeat: no-repeat;
  background-position: right bottom; }

@media (min-width: 992px) and (max-width: 1199px) {
  .step-1 .content {
    background-size: 30%; } }

@media (max-width: 991px) {
  .step-1 .content {
    background-image: none; } }

.step-2 .content {
  background-image: url("../images/step-2.png");
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 25%; }
  .step-2 .content button[type="submit"] {
    margin-right: 10px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .step-2 .content {
    background-size: 30%; } }

@media (max-width: 991px) {
  .step-2 .content {
    background-image: none; }
    .step-2 .content button {
      width: 100%; }
    .step-2 .content button[type="submit"] {
      margin-right: 0px;
      margin-bottom: 5px; } }

.step-3 .content {
  background-image: url("../images/step-3.png");
  background-repeat: no-repeat;
  background-position: 92% center; }
  .step-3 .content .help {
    margin-left: 0; }

@media (min-width: 992px) and (max-width: 1199px) {
  .step-3 .content {
    background-size: 30%;
    background-position: 95% center; } }

@media (max-width: 991px) {
  .step-3 .content {
    background-image: none; } }

.step-4 {
  height: auto;
  background: #f1f1f1; }
  .step-4 .step-4-wrapper {
    overflow: hidden; }
  .step-4 li.footer {
    width: auto;
    background: none; }
  .step-4 .content {
    display: flex;
    flex-direction: column;
    padding: 0; }
    .step-4 .content .sortable {
      overflow-x: hidden;
      height: 100%;
      list-style: none;
      flex-grow: 1;
      padding: 50px 0 200px; }
      .step-4 .content .sortable li.ui-draggable {
        padding: 15px 0;
        clear: both;
        background: none !important;
        display: block;
        height: auto !important; }
        .step-4 .content .sortable li.ui-draggable:hover {
          cursor: crosshair; }
  .step-4 .sortable-placeholder {
    margin: 10px;
    text-align: center;
    border: 3px dashed #aaaaaa;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px;
    clear: both;
    justify-content: center; }
    .step-4 .sortable-placeholder:before {
      content: "Solte aqui";
      text-align: center;
      font-size: 1.78571rem;
      font-weight: bold;
      color: #aaaaaa;
      text-transform: uppercase;
      clear: both; }
    .step-4 .sortable-placeholder:after {
      content: "";
      display: table;
      clear: both; }
  .step-4 .edit-config {
    width: 66px;
    position: fixed;
    right: 10%;
    top: 17%;
    transition: 420ms ease;
    display: none;
    z-index: 17; }
    .step-4 .edit-config ul li {
      background: #f9f9f9;
      height: 65px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .step-4 .edit-config ul li:hover {
        background: #f1f1f1; }
      .step-4 .edit-config ul li:not(:last-child) {
        border-bottom: 1px solid #e4e4e4; }
      .step-4 .edit-config ul li:first-child {
        border-radius: 66px 66px 0 0; }
      .step-4 .edit-config ul li:last-child {
        border-radius: 0 0 66px 66px; }
      .step-4 .edit-config ul li .text {
        font-size: 0.71429rem;
        color: #7dab4b;
        font-weight: bold; }
      .step-4 .edit-config ul li .icon-edit {
        display: block;
        width: 20px;
        height: 21px;
        margin-bottom: 7px;
        background-image: url("../images/sprite-edit.png");
        background-repeat: no-repeat;
        background-position: 0 0; }
      .step-4 .edit-config ul li .icon-trash {
        display: block;
        width: 20px;
        height: 21px;
        margin-bottom: 7px;
        background-image: url("../images/sprite-edit.png");
        background-repeat: no-repeat;
        background-position: 0 -59px; }
      .step-4 .edit-config ul li .icon-up {
        display: block;
        width: 20px;
        height: 21px;
        margin-bottom: 7px;
        background-image: url("../images/sprite-edit.png");
        background-repeat: no-repeat;
        background-position: 0 -124px; }
      .step-4 .edit-config ul li .icon-down {
        display: block;
        width: 20px;
        height: 21px;
        margin-bottom: 7px;
        background-image: url("../images/sprite-edit.png");
        background-repeat: no-repeat;
        background-position: 0 -184px; }
    .step-4 .edit-config .add-more {
      width: 66px;
      height: 66px;
      border-radius: 50%;
      background: #7dab4b;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 12px;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .step-4 .edit-config .add-more:hover {
        background: #75a046; }
      .step-4 .edit-config .add-more .text {
        font-size: 0.71429rem;
        color: white;
        font-weight: bold; }
      .step-4 .edit-config .add-more .icon-add {
        display: block;
        width: 20px;
        height: 21px;
        margin-bottom: 7px;
        background-image: url("../images/sprite-edit.png");
        background-repeat: no-repeat;
        background-position: 0 -263px; }
  .step-4 .item {
    list-style: none; }
  .step-4 .list-blocos li {
    cursor: move; }
    .step-4 .list-blocos li a {
      cursor: move; }
  .step-4 .content .sort-helper {
    width: 30px !important;
    height: 30px !important;
    border: 1px solid #1f1f1f;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999; }
    .step-4 .content .sort-helper .fa {
      font-size: 1.28571rem;
      line-height: 18px;
      color: #1f1f1f; }
  .step-4 .content .sortable > li {
    position: relative; }
    .step-4 .content .sortable > li .submenu, .step-4 .content .sortable > li .submenu-cars {
      display: none !important; }
    .step-4 .content .sortable > li .has-submenu-cars .fa,
    .step-4 .content .sortable > li .has-submenu .fa {
      display: none; }
    .step-4 .content .sortable > li.helper {
      position: relative; }
    .step-4 .content .sortable > li:not(.header):not(.footer) .handler {
      width: 30px;
      height: 30px;
      border: 1px solid #1f1f1f;
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center; }
      .step-4 .content .sortable > li:not(.header):not(.footer) .handler:before {
        content: "\f047";
        font-family: "FontAwesome";
        font-size: 1.28571rem;
        line-height: 18px;
        color: #1f1f1f; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .step-4 .edit-config {
      top: 14%; } }
  @media (max-width: 991px) {
    .step-4 .edit-config {
      top: 24%;
      width: 55px; }
      .step-4 .edit-config ul li {
        height: 58px; }
      .step-4 .edit-config .add-more {
        width: 55px;
        height: 55px; } }

.step-5 .content {
  background-image: url("../images/step-5.png");
  background-repeat: no-repeat;
  background-position: 90% center;
  display: flex;
  align-items: center; }

.step-5 .text-vert h1 {
  font-size: 3.92857rem;
  font-weight: bold;
  color: #202020;
  margin-bottom: 8px; }

.step-5 .text-vert p {
  font-size: em(15);
  color: #2b2b2b;
  margin-bottom: 0; }

.step-5 .text-vert .btn {
  margin-top: 25px;
  width: 155px;
  text-align: center; }
  .step-5 .text-vert .btn:not(.red) {
    margin-right: 10px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .step-5 .content {
    background-size: 30%; } }

@media (max-width: 991px) {
  .step-5 .content {
    background-image: none;
    display: block; }
  .step-5 .text-vert {
    text-align: center; }
    .step-5 .text-vert h1 {
      font-size: 3.21429rem; }
    .step-5 .text-vert .btn {
      width: 128px; } }

@media (max-width: 550px) {
  .step-5 .content {
    display: flex; } }
