<footer class="footer">
  <div class="container">
    <div class="flex-foot">
      <div class="logo">
        <a href="#">
          <img src="dist/images/reweb-logo.png" alt="Reweb - Marketing Dital" />
        </a>
      </div>
      <a href="#" class="reweb">Websites | Reweb</a>
    </div>
  </div>
</footer>
