<footer class="footer-step-4">
  <div class="top">
    <div class="left">
      <span class="selec">Selecione um novo bloco de conteúdo</span>
      <select class="select" id="block-type" name="page" data-text="Selecione">
        <option value="item" selected>Todos os blocos</option>
        <option value="header">Cabeçalhos</option>
        <option value="footer">Rodapés</option>
        <option value="news">Notícias</option>
      </select>
    </div>

    <div class="right">
      <div class="frame" id="basic">
        <ul class="list-blocos slidee">
          {% for i in 1..5 %}
            <li class="item header" data-id="{{ i }}" data-itemid="order-{{ i }}-{{ loop.index }}">
              <a href="javascript: void(0)">
                <img src="//placehold.it/170x70/{% if loop.index % 2 == 0 %}555/fff{% endif %}" alt="Bloco {{ loop.index }}" />
              </a>
              <span class="arrow arrow-up hidden-lg hidden-md">
                <i class="fa fa-chevron-up"></i>
              </span>
              <span class="arrow arrow-down hidden-lg hidden-md">
                <i class="fa fa-chevron-down"></i>
              </span>
            </li>
          {% endfor %}

          {% for i in 6..10 %}
            <li class="item footer" data-id="{{ i }}" data-itemid="order-{{ i }}-{{ loop.index }}" data-thumb="//placehold.it/170x70/{% if loop.index % 2 == 0 %}555/fff{% endif %}">
              <a href="javascript: void(0)">
                <img src="//placehold.it/170x70/{% if loop.index % 2 == 0 %}555/fff{% endif %}" alt="Bloco {{ loop.index }}" />
              </a>
              <span class="arrow arrow-up hidden-lg hidden-md">
                <i class="fa fa-chevron-up"></i>
              </span>
              <span class="arrow arrow-down hidden-lg hidden-md">
                <i class="fa fa-chevron-down"></i>
              </span>
            </li>
          {% endfor %}

          {% for i in 10..16 %}
            <li class="item news" data-id="{{ i }}" data-itemid="order-{{ i }}-{{ loop.index }}">
              <a href="javascript: void(0)">
                <img src="//placehold.it/170x70/{% if loop.index % 2 == 0 %}555/fff{% endif %}" alt="Bloco {{ loop.index }}" />
              </a>
              <span class="arrow arrow-up hidden-lg hidden-md">
                <i class="fa fa-chevron-up"></i>
              </span>
              <span class="arrow arrow-down hidden-lg hidden-md">
                <i class="fa fa-chevron-down"></i>
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="scrollbox">
        <div class="scrollbar">
          <div class="handle">
            <div class="mousearea"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="left-bot">
      <select class="select" name="page" data-text="Selecione a página">
        <option value="0" selected>Homepage</option>
        <option value="1">Interna 1</option>
        <option value="2">Interna 2</option>
        <option value="3">Interna 3</option>
      </select>
      <span class="total">Total de 3 páginas.</span>
    </div>

    <div class="right-bot">
      <a href="#" class="btn-4">Visualizar</a>
      <a href="#" class="btn-4" id="finish-step-4">Finalizar</a>
      <a href="#" class="btn-4 toggle-4" title="Exibir/Ocultar">
        <img src="../images/chevron-down.png" alt="Exibir/Ocultar" />
      </a>
    </div>
  </div>
</footer>
