<header class="header-home">
  <div class="container">
    <div class="flex-head">
      <div class="logo">
        <a href="#">
          <img src="dist/images/reweb-logo.png" alt="Reweb - Marketing Dital" />
        </a>
      </div>
      <nav class="home-menu">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Criar um site</a>
          </li>
          <li>
            <a href="#">CRM</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="toggle-menu-system">
        <div class="bars">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>
  </div>
</header>
