<header class="header-steps">
  <div class="container-fluid">
    <div class="flex-head">
      <div class="logo">
        <a href="#">
          <img src="dist/images/reweb-logo.png" alt="Reweb - Marketing Dital" />
        </a>
      </div>

      <ul class="steps-list">
        <li class="active">
          <a href="#" class="hidden-sm hidden-xs"><i class="fa fa-check"></i>Informações</a>
          <a href="#" class="hidden-lg hidden-md">1</a>
        </li>
        <li class="active">
          <a href="#" class="hidden-sm hidden-xs"><i class="fa fa-check"></i>Unidades</a>
          <a href="#" class="hidden-lg hidden-md">2</a>
        </li>
        <li class="active current">
          <span class="hidden-sm hidden-xs"><i class="fa fa-check"></i>Internas</span>
          <a href="#" class="hidden-lg hidden-md">3</a>
        </li>
        <li>
          <span class="hidden-sm hidden-xs"><i class="fa fa-check"></i>Homepage</span>
          <span class="hidden-lg hidden-md">4</span>
        </li>
        <li>
          <span class="hidden-sm hidden-xs"><i class="fa fa-check"></i>Finalização</span>
          <span class="hidden-lg hidden-md">5</span>
        </li>
      </ul>

      <div class="menu-steps">
        <button type="button" class="toggle-menu-system">
          <img src="dist/images/list.png" alt="Menu" />
        </button>

        <ul>
          <li>
            <a href="#">Criar site</a>
          </li>
          <li>
            <a href="#">CRM</a>
          </li>
          <li>
            <a href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
