{% set page = 'home' %}
{% extends 'layout.html' %}

{% block content %}
  <div class="wrapper {{ page }}-wrapper">
    {% include 'partial/_header-home.html' %}
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-5 wow bounceInLeft">
              <h1>Bem-vindo ao Criador de sites</h1>
              <h2>Nesta plataforma você poderá criar o seu próprio website customizado em poucos passos.</h2>
              <a href="step-1.html" class="btn large radius">Criar meu site agora</a>
            </div>
          </div>
        </div>
      </div>
    {% include 'partial/_footer-home.html' %}
  </div>
{% endblock %}
