<!DOCTYPE html>
<html>
  <head>
    <title>Reweb Starter Kit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <!--build:css stylesheets/assets.min.css -->
    <link rel="stylesheet" href="../blocos/index.css">
    <link rel="stylesheet" href="../blocos/global.css">
    <link rel="stylesheet" href="../src/stylesheets/assets.css">
    <!-- endbuild -->
    <!--build:css stylesheets/style.min.css -->
    <link rel="stylesheet" href="../src/stylesheets/style.css">
    <!-- endbuild -->
  </head>
  <body class="{{ page }} no-footer">
    {% block content %}{% endblock %}
    <!--build:js js/main.min.js -->
    <script src="../src/js/jquery.js" rel="text/javascript"></script>
    <script src="../src/js/blocos/app.js" rel="text/javascript"></script>
    <script src="../src/js/blocos/page.js" rel="text/javascript"></script>
    <script src="../src/js/blocos/slick-rebuild.js" rel="text/javascript"></script>
    <script src="../src/js/multiselect.js" rel="text/javascript"></script>
    <script src="../src/js/wow.js" rel="text/javascript"></script>
    <script src="../src/js/scrollbar.js" rel="text/javascript"></script>
    <script src="../src/js/jquery-ui.min.js" rel="text/javascript"></script>
    <script src="../src/js/jquery.mask.js" rel="text/javascript"></script>
    <script src="../src/js/main.js" rel="text/javascript"></script>
    <!-- endbuild -->
  </body>
</html>
