{% set page = 'step-4' %}
{% extends 'layout.html' %}

{% block content %}
  <div class="wrapper steps {{ page }}-wrapper">
    {% include 'partial/_header-steps.html' %}
      <div class="content">
        <ul class="sortable"></ul>
      </div>
      <div class="edit-config">
        <ul id="edit-config">
          <li id="remove">
            <span class="icon-trash"></span>
            <span class="text">Excluir</span>
          </li>
          <li id="block-up">
            <span class="icon-up"></span>
            <span class="text">Ordenar</span>
          </li>
          <li id="block-down">
            <span class="icon-down"></span>
            <span class="text">Ordenar</span>
          </li>
        </ul>
        <div class="add-more" id="add-more">
          <span class="icon-add"></span>
          <span class="text">Novo</span>
        </div>
      </div>
    {% include 'partial/_footer-step-4.html' %}
  </div>
{% endblock %}
