{% set page = 'step-1' %}
{% extends 'layout.html' %}

{% block content %}
  <div class="wrapper steps {{ page }}-wrapper">
    {% include 'partial/_header-steps.html' %}
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <div class="head">
                <h1>Informações</h1>
                <h2>1. Primeiro precisamos de algumas informações básicas suas:</h2>
              </div>
              <div class="form-box">
                <form class="form" action="step-2.html" method="post">
                  <div class="form-group">
                    <label for="cnpj">CNPJ*</label>
                    <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ" required>
                  </div>
                  <div class="form-group">
                    <label for="razao">Razão Social*</label>
                    <input type="text" name="razao" id="razao" placeholder="Razão Social" required>
                  </div>
                  <div class="form-group">
                    <label for="dominio">Domínio desejado <small>Sujeito a disponibilidade no registro.br</small></label>
                    <input type="text" name="dominio" id="dominio" placeholder="Domínio desejado">
                  </div>
                  <div class="form-group">
                    <label for="email">E-mail para contato*</label>
                    <input type="text" name="email" id="email" placeholder="E-mail para contato" required>
                  </div>
                  <div class="form-group">
                    <label for="marca">Marca da sua concessionária* <i class="fa fa-chevron-down"></i></label>
                    <select name="marca" id="marca" required>
                      <option value="" selected disabled>Selecione sua marca</option>
                      <option value="1">Opção 1</option>
                      <option value="2">Opção 2</option>
                      <option value="3">Opção 3</option>
                    </select>
                  </div>
                  <div class="buttons">
                    <button type="submit" class="btn small radius lower">Próxima etapa</button>
                    <button type="reset" class="btn-reset">Limpar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% include 'partial/_footer-steps.html' %}
  </div>
{% endblock %}
