{% set page = 'step-2' %}
{% extends 'layout.html' %}

{% block content %}
  <div class="wrapper steps {{ page }}-wrapper">
    {% include 'partial/_header-steps.html' %}
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <div class="head">
                <h1>Unidades</h1>
                <h2>2. Vamos cadastrar as suas unidades:</h2>
              </div>
              <div class="form-box">
                <form class="form" action="step-3.html" method="post">
                  <div class="box-repeat">
                    <div class="form-group">
                      <label for="nome">Nome da unidade*</label>
                      <input type="text" name="nome" id="nome" placeholder="Nome da unidade" required>
                    </div>
                    <div class="form-group">
                      <label for="telefone">Telefone*</label>
                      <input type="text" name="telefone" id="telefone" placeholder="Telefone" required>
                    </div>
                    <div class="form-group">
                      <label for="endereco">Endereço</label>
                      <input type="text" name="endereco" id="endereco" placeholder="Endereço">
                    </div>
                    <div class="form-group">
                      <label for="num">Número</label>
                      <input type="text" name="num" id="num" placeholder="Número">
                    </div>
                    <div class="form-group">
                      <label for="estado">Estado* <i class="fa fa-chevron-down"></i></label>
                      <select name="estado" id="estado" required>
                        <option value="" selected disabled>Selecione seu estado</option>
                        <option value="1">Opção 1</option>
                        <option value="2">Opção 2</option>
                        <option value="3">Opção 3</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="cidade">Cidade</label>
                      <input type="text" name="cidade" id="cidade" placeholder="Cidade">
                    </div>
                    <div class="form-group">
                      <label for="cep">CEP</label>
                      <input type="text" name="cep" id="cep" placeholder="CEP">
                    </div>
                  </div>
                  <div class="buttons">
                    <button type="submit" class="btn small radius lower">Próxima etapa</button>
                    <button type="button" class="btn small radius lower">Adicionar outra unidade</button>
                    <button type="reset" class="btn-reset">Limpar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% include 'partial/_footer-steps.html' %}
  </div>
{% endblock %}
