{% set page = 'step-3' %}
{% extends 'layout.html' %}

{% block content %}
  <div class="wrapper steps {{ page }}-wrapper">
    {% include 'partial/_header-steps.html' %}
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <div class="head">
                <h1>Internas</h1>
                <h2>3. Seu site pode vir com algumas páginas pré-configuradas. Você pode desativar algumas caso seja do seu interesse:</h2>
              </div>
              <div class="form-box">
                <form class="form" action="step-4.html" method="get">
                  <span class="help">Você poderá adicionar novas páginas ou editar as existentes mais tarde se desejar</span>
                  <div class="checks">
                    <div class="form-group">
                      <input type="checkbox" id="page-1" name="pages[]">
                      <label for="page-1"><i class="icon-check"></i> Home</label>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" id="page-2" name="pages[]">
                      <label for="page-2"><i class="icon-check"></i> Listagem de 0km</label>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" id="page-3" name="pages[]">
                      <label for="page-3"><i class="icon-check"></i> Listagem de carros usados</label>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" id="page-4" name="pages[]">
                      <label for="page-4"><i class="icon-check"></i> Detalhe de 0km</label>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" id="page-5" name="pages[]">
                      <label for="page-5"><i class="icon-check"></i> Detalhe de carros usados</label>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" id="page-6" name="pages[]">
                      <label for="page-6"><i class="icon-check"></i> Peças e acessórios</label>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" id="page-7" name="pages[]">
                      <label for="page-7"><i class="icon-check"></i> Financiamento</label>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" id="page-8" name="pages[]">
                      <label for="page-8"><i class="icon-check"></i> Trabalhe conosco</label>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" id="page-9" name="pages[]">
                      <label for="page-9"><i class="icon-check"></i> Fale conosco</label>
                    </div>
                  </div>
                  <div class="buttons">
                    <button type="submit" class="btn small radius lower">Próxima etapa</button>
                    <button type="reset" class="btn-reset">Limpar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% include 'partial/_footer-steps.html' %}
  </div>
{% endblock %}
