{% set page = 'step-5' %}
{% extends 'layout.html' %}

{% block content %}
  <div class="wrapper steps {{ page }}-wrapper">
    {% include 'partial/_header-steps.html' %}
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="text-vert wow bounceInLeft">
                <h1>Seu novo site está pronto</h1>
                <p>
                  Em breve ele será publicado. Mais informações com um de nossos vendedores.
                </p>
                <div class="buttons">
                  <a href="#" class="btn small radius lower">Visualizar</a>
                  <a href="#" class="btn small radius lower red">Editar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% include 'partial/_footer-steps.html' %}
  </div>
{% endblock %}
