.footer-step-4{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 21;

  .top{
    height: 120px;
    width: 100%;
    display: flex;
    transition: 420ms ease;
    align-items: center;
    position: relative;
    z-index: 20;
    background: rgba($second-color, 0.95);

    .multiselect-native-select{
      height: 44px;
      display: block;
      float: left;
      width: 100%;
      background: #363636;

      .btn-group{
        display: block;
        width: 100%;
        height: 100%;
      }
      .multiselect{
        display: block;
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: rem(11);
        font-weight: normal;
        color: #d3d3d3;
        text-align: left;
        text-transform: none;
        border: 1px solid #494949;
        padding: 0 20px;
        background-image: url('../images/chevron-down.png');
        background-repeat: no-repeat;
        background-position: 90% center;
        &:hover{
          background-color: darken(#363636, 1%);
        }
        &:focus{
          background-color: darken(#363636, 2%);
        }

        .multiselect-selected-text{
          font-weight: 900;
        }
        .caret{
          display: none;
        }
      }
      .dropdown-menu{
        top: initial;
        bottom: 100%;
        box-shadow: none;
        width: 100%;
        border: 0;
        border-radius: 0;
        background: #363636;
        overflow: auto;
        z-index: 17;
        position: absolute;
        li{
          input{
            display: none;
          }
          a{
            outline: none;
            box-shadow: none;
            label{
              padding: 6px 20px;
              color: #d3d3d3;
            }
            &:hover{
              background: #363636;
            }
          }
          &.active{
            a{
              background: $primary-color;
            }
          }
        }
      }
    }

    .left{
      width: 21%;
      padding: 15px 15px 15px 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .selec{
        font-size: rem(13);
        font-weight: bold;
        color: #d3d3d3;
        margin-bottom: 6px;
      }
    }
    .right{
      width: 79%;
      padding-left: 30px;
      align-items: center;
      position: relative;
      height: 70px;

      .scrollbox{
        position: relative;
        width: 100%;
        bottom: -10px;
        padding-right: 15px;
        @include media('small'){
          height: 40px;
          bottom: -5px;
        }
      }
      .ps-scrollbar-x-rail{
        background: transparent !important;
      }
      .list-blocos{
        position: relative;
        height: 70px;

        li{
          height: 70px;
          margin-right: 30px;
          padding: 0px;
          background: none !important;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          img{
            display: block;
            max-width: 100%;
            max-height: 100%;
          }
          .arrow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background: $second-color;
            color: white;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            opacity: 0.8;
            &:hover{
              background: darken($second-color, 10%);
            }
            &.arrow-up{
              left: 15px;
            }
            &.arrow-down{
              right: 15px;
            }
          }
        }
      }
    }
  }
  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #494949;
    position: relative;
    z-index: 21;
    background: rgba($second-color, 0.95);

    .left-bot{
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include clearfix();
      .multiselect-native-select{
        height: 100%;
        display: block;
        float: left;
        width: 40%;
        background: #363636;

        .btn-group{
          display: block;
          width: 100%;
          height: 100%;
        }
        .multiselect{
          display: block;
          border-radius: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          font-size: rem(11);
          font-weight: normal;
          color: #d3d3d3;
          text-align: left;
          text-transform: none;
          border: 1px solid #494949;
          border-top: 0;
          padding: 0 20px;
          background-image: url('../images/chevron-down.png');
          background-repeat: no-repeat;
          background-position: 90% center;
          &:hover{
            background-color: darken(#363636, 1%);
          }
          &:focus{
            background-color: darken(#363636, 2%);
          }

          .multiselect-selected-text{
            font-weight: 900;
          }
          .caret{
            display: none;
          }
        }
        .dropdown-menu{
          top: initial;
          bottom: 100%;
          box-shadow: none;
          width: 100%;
          border: 0;
          border-radius: 0;
          background: #363636;
          overflow: auto;
          li{
            input{
              display: none;
            }
            a{
              outline: none;
              box-shadow: none;
              label{
                padding: 6px 20px;
                color: #d3d3d3;
              }
              &:hover{
                background: #363636;
              }
            }
            &.active{
              a{
                background: $primary-color;
              }
            }
          }
        }
      }
      .total{
        margin-left: 45px;
        font-size: rem(11);
        color: #d3d3d3;
      }
    }
    .right-bot{
      display: flex;
      height: 100%;
      border-left: 1px solid #494949;

      .btn-4{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 45px;
        border-right: 1px solid #494949;
        font-size: rem(11);
        font-weight: 900;
        text-transform: uppercase;
        background: #363636;
        color: #d3d3d3;
        &:hover{
          background: darken(#363636, 1%);
        }
        &:focus{
          background: darken(#363636, 2%);
        }
        &.toggle-4{
          padding: 0 25px;
        }
      }
    }
  }

  @include media('md'){
    .top{
      .left{
        width: 30%;
      }
      .right{
        width: 70%;
      }
    }
    .bottom{
      .left-bot{
        .multiselect-native-select{
          width: 50%;
        }
      }
    }
  }
  @include media('large'){
    .bottom{
      height: 43px;
    }
  }
  @include media('small'){
    .top{
      display: block;
      height: 183px;
      .left{
        width: 100%;
        padding: 15px;
        .selec{
          text-align: center;
        }
      }
      .right{
        width: 100%;
        padding: 0 15px 15px 15px;
        height: auto;
        .scrollbox{
          padding-right: 0;
        }
      }
    }
    .bottom{
      display: block;
      border-top: 0;

      .left-bot{
        display: block;
        width: 100%;
        height: auto;
        padding: 15px;
        .multiselect-native-select{
          width: 100%;
          .multiselect{
            height: 44px;
          }
        }
        .total{
          display: none;
        }
      }
      .right-bot{
        width: 100%;
        height: 44px;
        .btn-4{
          padding: 0 30px;
          width: 100%;
        }
      }
    }
  }
}

.no-footer{
  .footer-step-4{
    .top{
      position: relative;
      //opacity: 0;
      height: 0;
      visibility: hidden;
      @include translate(0,200px);
    }
    .toggle-4{
      img{
        transform: rotate(180deg);
      }
    }
  }
}
