.footer{
  background: $second-color;
  padding: 15px 0;
  width: 100%;

  .flex-foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      img{
        max-height: 35px;
      }
    }
    .reweb{
      color: white;
      font-size: rem(12);
      &:hover{
        color: $primary-color;
      }
    }
  }
}
