.header-steps{
  background: $second-color;
  width: 100%;
  padding: 14px 0;

  .flex-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    img{
      max-height: 47px;
    }
  }
  .steps-list{
    display: flex;
    align-items: center;
    justify-content: center;

    li{
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child){
        &:after{
          content: "";
          display: block;
          width: 30px;
          height: 2px;
          background: white;
        }
      }
      .fa{
        display: none;
        color: $primary-color;
        margin-right: 7px;
      }
      a,span{
        display: block;
        height: 36px;
        border-radius: 36px;
        background: transparent;
        width: 150px;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: rem(13);
        font-weight: bold;

      }
      span{
        cursor: default;
      }
      &.active{
        .fa{
          display: block;
        }
        a,span{
          border: 2px solid $primary-color;
          color: $primary-color;
        }
        a:hover{
          background: $primary-color;
          color: $second-color;
          .fa{
            color: $second-color;
          }
        }
        &:after{
          background: $primary-color;
        }
        &.current{
          .fa{
            display: none;
          }
          &:after{
            background: white;
          }
        }
      }
    }
  }

  .menu-steps{
    position: relative;
    .toggle-menu-system{
      background: transparent;
      border: 0;
      position: relative;
      right: 13px;
      .fa{
        color: white;
        font-size: rem(22);
      }
    }
    ul{
      display: block;
      position: absolute;
      top: 40px;
      right: 0;
      background: white;
      box-shadow: 0px 28px 49px 0px rgba(12, 12, 12, 0.18);
      padding: 10px 0;
      border-radius: 4px;
      transition: 420ms ease;
      @include translate(0, -10px);
      opacity: 0;
      visibility: hidden;
      z-index: 15;

      &:before{
        content: "";
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 13px solid white;
        position: absolute;
        right: 15px;
        top: -8px;
      }
      li{
        width: 100%;
        white-space: nowrap;
        text-align: right;
        a{
          font-size: rem(14);
          display: block;
          width: 100%;
          padding: 8px 25px;
          min-width: 145px;
          color: $second-color;
          font-weight: bold;
          &:hover{
            background: #f1f1f1;
          }
        }
      }
    }
  }

  @include media('md'){
    .steps-list{
      li{
        a,span{
          width: 130px;
        }
      }
    }
  }
  @include media('small'){
    .flex-head{
      display: block;
    }
    .steps-list{
      margin-top: 15px;
      li{
        a,span{
          width: 36px;
        }
        &:not(:last-child){
          &:after{
            width: 25px;
          }
        }
      }
    }
    .menu-steps{
      position: absolute;
      top: 26px;
      right: 5px;
    }
  }
}
.menu-on-system[class*="step"]{
  .header-steps{
    .menu-steps{
      ul{
        @include translate(0, 0);
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
