.header-home{
  padding-top: 45px;
  width: 100%;

  .flex-head{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home-menu{
    ul{
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li{
        margin-left: 37px;
        a{
          font-weight: bold;
          color: white;
          font-size: rem(16);
          text-decoration: none;
          &:after{
            content: "";
            display: block;
            width: 0px;
            height: 1px;
            background: white;
            transition: 200ms ease;
          }
          &:hover{
            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }

  @include media('small'){
    padding-top: 30px;
  }
}
