.home{
  background-image: url('../images/home-bg.jpg');
  background-attachment: fixed;
  height: 100%;

  .home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    background-image: url('../images/home-img.png');
    background-repeat: no-repeat;
    background-position: 95% 100px;
    background-size: 55%;
  }
  .content{
    width: 100%;
    margin: 25px 0;
    h1{
      font-size: rem(60);
      font-weight: bold;
      color: white;
    }
    h2{
      font-size: rem(18);
      color: white;
      margin: 20px 0;
    }
    .btn{
      margin-top: 10px;
    }
  }
  .toggle-menu-system{
    display: none;
  }

  @include media('small'){
    .home-wrapper{
      background-image: none;
    }
    .content{
      text-align: center;
      h1{
        font-size: rem(32);
      }
    }
  }
  @include media('xxs'){
    .home-menu{
      display: block;
      position: absolute;
      top: 50%;
      @include translate(0, -50%);
      right: 30px;
      ul{
        flex-direction: column;
        align-items: flex-end;
        visibility: hidden;
        overflow: hidden;

        li{
          transform: translateX(100px);
          opacity: 0;
          transition: 420ms ease;
          &:not(:last-child){
            margin-bottom: 4px;
          }

          a{
            font-size: rem(12);
            font-weight: normal;
            background: black;
            padding: 4px 10px;
            display: block;
            &:after{
              display: none;
            }
            &:hover,
            &:focus{
              background: lighten(black, 15%);
            }
          }
        }
      }
    }
    .flex-head{
      position: relative;
    }
    .toggle-menu-system{
      display: block;
      background: transparent;
      border: 0;
      width: 25px;
      height: 20px;
      padding: 0;

      .bars{
        position: relative;
        width: 100%;
        height: 100%;
        span{
          display: block;
          width: 25px;
          height: 2px;
          background: white;
          position: absolute;
          transition: all 0.3s;
          &:nth-child(1){
            top: 0;
          }
          &:nth-child(2){
            top: 9px;
          }
          &:nth-child(3){
            top: 18px;
          }
        }
      }
    }
    &.menu-on-system{
        .toggle-menu-system{
          span{
            &:nth-child(1){
              top: 9px;
              transform: rotate(135deg);
            }
            &:nth-child(3){
              top: 9px;
              transform: rotate(-135deg);
            }
            &:nth-child(2){
              opacity: 0;
            }
          }
        }
        .home-menu{
          ul{
            overflow: visible;
            visibility: visible;
            li{
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
    }
  }
}
