.step-5{
  .content{
    background-image: url('../images/step-5.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    display: flex;
    align-items: center;
  }
  .text-vert{
    h1{
      font-size: rem(55);
      font-weight: bold;
      color: $second-color;
      margin-bottom: 8px;
    }
    p{
      font-size: em(15);
      color: #2b2b2b;
      margin-bottom: 0;
    }
    .btn{
      margin-top: 25px;
      width: 155px;
      text-align: center;
      &:not(.red){
        margin-right: 10px;
      }
    }
  }
  @include media('md'){
    .content{
      background-size: 30%;
    }
  }
  @include media('small'){
    .content{
      background-image: none;
      display: block;
    }
    .text-vert{
      text-align: center;
      h1{
        font-size: rem(45);
      }
      .btn{
        width: 128px;
      }
    }
  }
  @include media('xxs'){
    .content{
      display: flex;
    }
  }
}
