.step-3{
  .content{
    background-image: url('../images/step-3.png');
    background-repeat: no-repeat;
    background-position: 92% center;

    .help{
      margin-left: 0;
    }
  }
  @include media('md'){
    .content{
      background-size: 30%;
      background-position: 95% center;
    }
  }
  @include media('small'){
    .content{
      background-image: none;
    }
  }
}
