.steps{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .content{
    background-color: #f1f1f1;
    width: 100%;
    padding: 30px 0;
    flex-grow: 2;

    .head{
      margin-bottom: 25px;
      h1{
        font-size: rem(18);
        font-weight: bold;
        color: #2b2b2b;
        margin-bottom: 10px;
      }
      h2{
        font-size: rem(15);
        font-weight: normal;
        color: #2b2b2b;
      }
    }
  }
  .form-box{
    width: 100%;
    padding: 30px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.10);

    .form-group{
      margin-bottom: 18px;
      position: relative;
      .fa{
        position: absolute;
        bottom: 6px;
        @include translate(0, -50%);
        right: 20px;
      }
    }
    textarea,
    input[type="text"],
    select{
      height: 38px;
      border-radius: 38px;
      background: #e9e9e9;
      border: 1px solid #dedede;
      color: #2b2b2b;
      font-size: rem(13);
      font-weight: normal;
      width: 100%;
      padding: 0 20px;
      outline: none;
      box-shadow: none;
      -webkit-appearance:none;
      @include placeholder(){
        color: #2b2b2b;
        font-size: rem(13);
        font-weight: normal;
      }
    }
    textarea{
      height: 80px;
      border-radius: 10px;
    }
    label,
    .help{
      font-size: rem(13);
      font-weight: bold;
      color: #2b2b2b;
      display: block;
      margin-left: 20px;
      text-transform: uppercase;

      small{
        text-transform: none;
        color: #777;
        font-size: rem(11);
        font-weight: normal;
      }
    }
    .checks{
      padding: 20px 0;
      @include clearfix();
      label{
        text-transform: none;
        font-size: rem(13);
        color: #2b2b2b;
        font-weight: normal;
        margin-bottom: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        @include no-select();
        float: left;
        clear: both;
        width: auto;

        .icon-check{
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 3px;
          background: #dedede;
          margin-right: 10px;
          padding: 3px;
        }
      }
      input[type="checkbox"]{
        display: none;
        &:checked + label .icon-check:after{
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: $primary-color;
          border-radius: 1px;
        }
      }
      .form-group{
        margin-bottom: 7px;
      }
    }
    .buttons{
      clear: both;
    }
  }

  @include media('small'){
    .content{
      .form-box{
        padding: 20px;
        .form{
          label{
            small{
              display: block;
            }
          }
        }
      }
    }
  }
}
