.step-4{
  height: auto;
  background: #f1f1f1;
  .step-4-wrapper{
    overflow: hidden;
  }
  li.footer{
    width: auto;
    background: none;
  }
  .content{
    display: flex;
    flex-direction: column;
    padding: 0;
    .sortable{
      overflow-x: hidden;
      height: 100%;
      list-style: none;
      flex-grow: 1;
      padding: 50px 0 200px;
      li.ui-draggable{
        padding: 15px 0;
        clear: both;
        background: none !important;
        display: block;
        height: auto !important;
        // z-index: 15 !important;
        &:hover{
          cursor: crosshair;
        }
      }
    }
  }
  .sortable-placeholder{
    margin: 10px;
    text-align: center;
    border: 3px dashed $tertiary-color;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px;
    clear: both;
    justify-content: center;
    &:before{
      content: "Solte aqui";
      text-align: center;
      font-size: rem(25);
      font-weight: bold;
      color: $tertiary-color;
      text-transform: uppercase;
      clear: both;
    }
    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }
  .edit-config{
    width: 66px;
    position: fixed;
    right: 10%;
    top: 17%;
    transition: 420ms ease;
    display: none;
    z-index: 17;
    ul{
      li{
        background: #f9f9f9;
        height: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include no-select();

        &:hover{
          background: darken(#f9f9f9, 3%);
        }
        &:not(:last-child){
          border-bottom: 1px solid #e4e4e4;
        }
        &:first-child{
          border-radius: 66px 66px 0 0;
        }
        &:last-child{
          border-radius: 0 0 66px 66px;
        }
        .text{
          font-size: rem(10);
          color: $primary-color;
          font-weight: bold;
        }
        .icon-edit{
          display: block;
          width: 20px;
          height: 21px;
          margin-bottom: 7px;
          background-image: url('../images/sprite-edit.png');
          background-repeat: no-repeat;
          background-position: 0 0;
        }
        .icon-trash{
          display: block;
          width: 20px;
          height: 21px;
          margin-bottom: 7px;
          background-image: url('../images/sprite-edit.png');
          background-repeat: no-repeat;
          background-position: 0 -59px;
        }
        .icon-up{
          display: block;
          width: 20px;
          height: 21px;
          margin-bottom: 7px;
          background-image: url('../images/sprite-edit.png');
          background-repeat: no-repeat;
          background-position: 0 -124px;
        }
        .icon-down{
          display: block;
          width: 20px;
          height: 21px;
          margin-bottom: 7px;
          background-image: url('../images/sprite-edit.png');
          background-repeat: no-repeat;
          background-position: 0 -184px;
        }
      }
    }
    .add-more{
      width: 66px;
      height: 66px;
      border-radius: 50%;
      background: $primary-color;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 12px;
      cursor: pointer;
      @include no-select();

      &:hover{
        background: darken($primary-color, 3%);
      }
      .text{
        font-size: rem(10);
        color: white;
        font-weight: bold;
      }
      .icon-add{
        display: block;
        width: 20px;
        height: 21px;
        margin-bottom: 7px;
        background-image: url('../images/sprite-edit.png');
        background-repeat: no-repeat;
        background-position: 0 -263px;
      }
    }
  }
  .item{
    list-style: none;
  }
  .list-blocos{
    li{
      cursor: move;
      a{
        cursor: move;
      }
    }
  }
  .content{
    .sort-helper{
      width: 30px !important;
      height: 30px !important;
      border: 1px solid #1f1f1f;
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99999;
      .fa{
        font-size: rem(18);
        line-height: 18px;
        color: #1f1f1f;
      }
    }
    .sortable{
      & > li{
        position: relative;
        // box-shadow: 0px 0px 50px #d2d2db;
        .submenu,.submenu-cars{
          display: none !important;
        }
        .has-submenu-cars,
        .has-submenu{
          .fa{
            display: none;
          }
        }
        &.helper{
          // opacity: 0.2;
          position: relative;
        }
        &:hover{
          // box-shadow: 0px 0px 41px -1px rgba(0,0,0,0.2);
        }
        &:not(.header):not(.footer){
          .handler{
            width: 30px;
            height: 30px;
            border: 1px solid #1f1f1f;
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before{
              content: "\f047";
              font-family: "FontAwesome";
              font-size: rem(18);
              line-height: 18px;
              color: #1f1f1f;
            }
          }
        }
      }
    }
  }

  @include media('md'){
    .edit-config{
      top: 14%;
    }
  }
  @include media('small'){
    .edit-config{
      top: 24%;
      width: 55px;
      ul{
        li{
          height: 58px;
        }
      }
      .add-more{
        width: 55px;
        height: 55px;
      }
    }
  }
}
