.step-1{
  .content{
    background-image: url('../images/step-1.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  @include media('md'){
    .content{
      background-size: 30%;
    }
  }
  @include media('small'){
    .content{
      background-image: none;
    }
  }
}
