.step-2{
  .content{
    background-image: url('../images/step-2.png');
    background-repeat: no-repeat;
    background-position: 80% bottom;
    background-size: 25%;
    button[type="submit"]{
      margin-right: 10px;
    }
  }
  @include media('md'){
    .content{
      background-size: 30%;
    }
  }
  @include media('small'){
    .content{
      background-image: none;
      button{
        width: 100%;
      }
      button[type="submit"]{
        margin-right: 0px;
        margin-bottom: 5px;
      }
    }
  }
}
